In [137]:
import numpy as np
import pandas as pd

- punto 1: Produrre un nuovo dataset delle REGIONI italiane con indicato la
**popolazione residente, la superfice e la densità di popolazione**
combinando il dataset Istat con quello da Github
- punto 2: farlo anche con le PROVINCE

In [138]:
pop_gennaio= pd.read_csv(r"C:/Users/***/Downloads/pop_residente1gennaio.csv")
pop_gennaio.head()

,ITTER107,Territorio,TIPO_DATO15,Tipo di indicatore demografico,SEXISTAT1,Sesso,ETA1,Età,STATCIV2,Stato civile,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,JAN,popolazione al 1º gennaio,1,maschi,Y0,0 anni,1,nubile/celibe,2020,2020,212756,NaN,NaN
1,IT,Italia,JAN,popolazione al 1º gennaio,1,maschi,Y0,0 anni,99,totale,2020,2020,212756,NaN,NaN
2,IT,Italia,JAN,popolazione al 1º gennaio,2,femmine,Y0,0 anni,1,nubile/celibe,2020,2020,202218,NaN,NaN
3,IT,Italia,JAN,popolazione al 1º gennaio,2,femmine,Y0,0 anni,99,totale,2020,2020,202218,NaN,NaN
4,IT,Italia,JAN,popolazione al 1º gennaio,9,totale,Y0,0 anni,1,nubile/celibe,2020,2020,414974,NaN,NaN

In [162]:
dati_regioni= pd.read_csv(r"C:/Users/***/Downloads/regioni_italiane.csv",delimiter=";", decimal=",")
dati_regioni.head()

,id_regione,regione,superficie,num_residenti,num_comuni,num_provincie,presidente,cod_istat,cod_fiscale,piva,pec,sito,sede
0,1,Abruzzo,10831.84,1326513.0,305.0,4.0,Luciano D'Alfonso,13.0,8.000317e+10,NaN,urp@pec.regione.abruzzo.it,www.regione.abruzzo.it,Regione Abruzzo / Palazzo Silone - Via Leonard...
1,2,Basilicata,10073.32,573694.0,131.0,2.0,Marcello Pittella,17.0,8.000295e+10,NaN,presidenza.giunta@cert.regione.basilicata.it,www.regione.basilicata.it,"Regione Basilicata / Via Vincenzo Verrastro 4,..."
2,3,Calabria,15221.90,1970521.0,409.0,5.0,Gerardo Mario Oliverio,18.0,2.205341e+09,NaN,dipartimento.presidenza@pec.regione.calabria.it,www.regione.calabria.it,"Regione Calabria / Via Massara 2, 88100 Catanzaro"
3,4,Campania,13670.95,5850850.0,550.0,5.0,Vincenzo De Luca,15.0,8.001199e+10,3.516071e+09,agc02@pec.regione.campania.it,www.regione.campania.it,"Regione Campania / Via Santa Lucia 81, 80132 N..."
4,5,Emilia-Romagna,22452.78,4448146.0,333.0,9.0,Stefano Bonaccini,8.0,8.006259e+10,NaN,urp@postacert.regione.emilia-romagna.it,www.regione.emilia-romagna.it,"Regione Emilia-Romagna / Viale Aldo Moro 52, 4..."

In [163]:
province= pd.read_csv(r"C:/Users/Sofia Mattioni/Downloads/province_italiane.csv",delimiter=";", decimal=",")
province

     sigla      provincia  superficie  residenti  num_comuni  id_regione
0       AG      Agrigento     3044.85   446081.0        43.0          15
1       AL    Alessandria     3560.42   427354.0       190.0          12
2       AN         Ancona     1940.16   475495.0        47.0          10
3       AO          Aosta     3263.24   127844.0        74.0          19
4       AP  Ascoli Piceno     1228.23   210711.0        33.0          10
..     ...            ...         ...        ...         ...         ...
103     VI        Vicenza     2725.09   865421.0       121.0          20
104     VR         Verona     3120.97   907352.0        98.0          20
105     VT        Viterbo     3611.53   315623.0        60.0           7
106     VV  Vibo Valentia     1139.47   162252.0        50.0           3
107  Total            NaN         NaN        NaN         NaN        1127

[108 rows x 6 columns]

In [164]:
regioni=dati_regioni.iloc[:,:4]
regioni.head()

  id_regione         regione  superficie  num_residenti
0          1         Abruzzo    10831.84      1326513.0
1          2      Basilicata    10073.32       573694.0
2          3        Calabria    15221.90      1970521.0
3          4        Campania    13670.95      5850850.0
4          5  Emilia-Romagna    22452.78      4448146.0

In [165]:
pop_gennaio.index

RangeIndex(start=0, stop=289170, step=1)

In [166]:
pop_gennaio=pop_gennaio.loc[:, ['Territorio','Value']]
pop_gennaio

       Territorio   Value
0          Italia  212756
1          Italia  212756
2          Italia  202218
3          Italia  202218
4          Italia  414974
...           ...     ...
289165   Oristano       0
289166   Oristano       0
289167   Oristano       9
289168   Oristano       0
289169   Oristano       1

[289170 rows x 2 columns]

In [167]:
pop_gennaio.isnull().any()

Territorio    False
Value         False
dtype: bool

### dataset su REGIONI con popolazione resdente, superficie e densità

In [168]:
RegioniFinali=pd.merge(regioni,pop_gennaio,left_on='regione',right_on='Territorio')
#RegioniFinali
RegioniFinali=RegioniFinali.drop('Territorio',1)
RegioniFinali=RegioniFinali.rename(columns={"Value":"residenti gennaio"})
RegioniFinali

      id_regione  regione  superficie  num_residenti  residenti gennaio
0              1  Abruzzo    10831.84      1326513.0               4264
1              1  Abruzzo    10831.84      1326513.0               4264
2              1  Abruzzo    10831.84      1326513.0               4108
3              1  Abruzzo    10831.84      1326513.0               4108
4              1  Abruzzo    10831.84      1326513.0               8372
...          ...      ...         ...            ...                ...
38551         20   Veneto    18407.42      4915123.0                  0
38552         20   Veneto    18407.42      4915123.0                  0
38553         20   Veneto    18407.42      4915123.0                 59
38554         20   Veneto    18407.42      4915123.0                  0
38555         20   Veneto    18407.42      4915123.0                 19

[38556 rows x 5 columns]

In [169]:
#RegioniFinali['superficie'] = pd.to_numeric(RegioniFinali['superficie'],errors='coerce')
#RegioniFinali
#RegioniFinali.superficie.dtype
#RegioniFinali['superficie'] = RegioniFinali['superficie'].astype(float) -->provo a convertire la colonna in float

In [172]:
RegioniFinali['densità']=RegioniFinali['num_residenti']/RegioniFinali['superficie']
RegioniFinali

,id_regione,regione,superficie,num_residenti,residenti gennaio,densità
0,1,Abruzzo,10831.84,1326513.0,4264,122.464235
1,1,Abruzzo,10831.84,1326513.0,4264,122.464235
2,1,Abruzzo,10831.84,1326513.0,4108,122.464235
3,1,Abruzzo,10831.84,1326513.0,4108,122.464235
4,1,Abruzzo,10831.84,1326513.0,8372,122.464235
...,...,...,...,...,...,...
38551,20,Veneto,18407.42,4915123.0,0,267.018572
38552,20,Veneto,18407.42,4915123.0,0,267.018572
38553,20,Veneto,18407.42,4915123.0,59,267.018572
38554,20,Veneto,18407.42,4915123.0,0,267.018572
38555,20,Veneto,18407.42,4915123.0,19,267.018572

### dati su PROVINCE

per questo secondo dataset non è necessario fare la Join, poichè tutte informazioni sono contenute nel dataset 'province'

In [156]:
province

     sigla      provincia  superficie  residenti  num_comuni  id_regione
0       AG      Agrigento     3044.85   446081.0        43.0          15
1       AL    Alessandria     3560.42   427354.0       190.0          12
2       AN         Ancona     1940.16   475495.0        47.0          10
3       AO          Aosta     3263.24   127844.0        74.0          19
4       AP  Ascoli Piceno     1228.23   210711.0        33.0          10
..     ...            ...         ...        ...         ...         ...
103     VI        Vicenza     2725.09   865421.0       121.0          20
104     VR         Verona     3120.97   907352.0        98.0          20
105     VT        Viterbo     3611.53   315623.0        60.0           7
106     VV  Vibo Valentia     1139.47   162252.0        50.0           3
107  Total            NaN         NaN        NaN         NaN        1127

[108 rows x 6 columns]

In [161]:
province['densità']=province['residenti']/province['superficie']
province

,sigla,provincia,superficie,residenti,num_comuni,id_regione,densità
0,AG,Agrigento,3044.85,446081.0,43.0,15,146.503440
1,AL,Alessandria,3560.42,427354.0,190.0,12,120.029098
2,AN,Ancona,1940.16,475495.0,47.0,10,245.080303
3,AO,Aosta,3263.24,127844.0,74.0,19,39.177014
4,AP,Ascoli Piceno,1228.23,210711.0,33.0,10,171.556630
...,...,...,...,...,...,...,...
103,VI,Vicenza,2725.09,865421.0,121.0,20,317.575199
104,VR,Verona,3120.97,907352.0,98.0,20,290.727562
105,VT,Viterbo,3611.53,315623.0,60.0,7,87.393155
106,VV,Vibo Valentia,1139.47,162252.0,50.0,3,142.392516
107,Total,NaN,NaN,NaN,NaN,1127,NaN